<div class="container">
  <header class="app-header">
    <h1>Compañeros</h1>
  </header>

  <!-- Nuevo bloque debajo del título -->
  <!--<div class="header-actions">
    <label for="grupoSelect"><strong>Seleccione grupo de clase:</strong></label>

    <select id="grupoSelect" class="combo-select" [(ngModel)]="estudianteSeleccionado">
      <option [ngValue]="null">-- Seleccione --</option>
      <option *ngFor="let estudiante of listaEstudiantes" [ngValue]="estudiante.id">
        {{ `${estudiante.nombres} ${estudiante.apellidos}` }}
      </option>
    </select>


  </div>-->

  <div class="card combo-table-container">
    <table class="combo-table">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaCompanieros">
          <td>{{ item }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="listaCompanieros.length === 0" class="no-results">
      <span class="material-icons">search_off</span>
      <p>No se encontraron compañeros</p>
    </div>
  </div>
</div>
