<div class="container">
  <header class="app-header">
    <h1>Mi Perfil</h1>
    <div class="header-actions">

      @if(listaEstudiantes.length === 0){
      <button class="btn-primary" [routerLink]="'/inventario/estudiantes/crear'">
        <span class="material-icons">add</span> Crear Nuevo Estudiante
      </button>
      }

    </div>
  </header>

  <div class="card combo-table-container">
    <table class="combo-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Documento</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Fecha Registro</th>
          <th>Usuario ID</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of listaEstudiantes;">
          <td>{{ estudiante.id }}</td>
          <td>{{ estudiante.documento }}</td>
          <td>{{ estudiante.nombres }}</td>
          <td>{{ estudiante.apellidos }}</td>
          <td>{{ estudiante.fechaRegistro | date:'short' }}</td>
          <td>{{ estudiante.usuarioId }}</td>
          <td class="combo-actions">
            <button class="btn-icon" title="Editar" [routerLink]="['/inventario/estudiantes/editar', estudiante.id]">
              <span class="material-icons">edit</span>
            </button>

            <button class="btn-icon" title="Borrar" (click)="eliminarEstudiante(estudiante)">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="paginator-container">
      <mat-paginator [length]="totalRecords"
                     [pageSize]="recordsPorPagina"
                     [pageSizeOptions]="[5, 10, 20]"
                     (page)="onPageChange($event)">
      </mat-paginator>
    </div>

    <div *ngIf="listaEstudiantes.length === 0" class="no-results">
      <span class="material-icons">search_off</span>
      <p>No se encontraron estudiantes</p>
    </div>
  </div>
</div>
