<div class="mainContent">
  <div class="moduleTittle">
    <span>Bienvedido a mi Universidad</span>
  </div>
  <div class="moduleContent">
    <div class="rowCard rC2">
      <div class="card">
        <div class="imgCont">
          <img src="https://www.colorincolorado.org/sites/default/files/43815-graph.jpg" />
        </div>
      </div>

    </div>
    <div class="rowCard rC2">
      <div class="card">
        <div class="imgCont">
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Mapa_mundi_blanco.PNG" />
        </div>
      </div>
      <div class="contBlock">
        <div class="miniCard">
          <span>Aqui va cualsea el contenido que vaya aqui</span>
        </div>
        <div class="miniCard">
          <span>Aqui va cualsea el contenido que vaya aqui</span>
        </div>
      </div>
    </div>
    <div class="rowCard rC3">
      <div class="card">
        <div class="imgCont">
          <img src="https://www.colorincolorado.org/sites/default/files/43815-graph.jpg" />
        </div>
      </div>
      <div class="contBlock">
        <div class="miniCard">
          <span>Aqui va cualsea el contenido que vaya aqui</span>
        </div>
        <div class="miniCard">
          <span>Aqui va cualsea el contenido que vaya aqui</span>
        </div>
      </div>
      <div class="card">
        <span>Aqui va cualsea el contenido que vaya aqui</span>
      </div>
    </div>
    <!--<div class="contenedor">
      <div class="item tarjeta">
        <div class="imgCont">
          <img src="assets/img/Captura de pantalla 2025-07-11 155539.png" />
        </div>
      </div>
      <div class="item">
        <div class="contenedor">
          <div class="item tarjeta">
            <span>Aqui va cualsea el contenido</span>
          </div>
          <div class="item tarjeta">
            <span>Aqui va cualsea el contenido</span>
          </div>
          <div class="item tarjeta">
            <span>Aqui va cualsea el contenido</span>
          </div>
          <div class="item tarjeta">
            <span>Aqui va cualsea el contenido</span>
          </div>
        </div>
      </div>
      <div class="item tarjeta">
        <div class="imgCont">
          <img src="assets/img/Captura de pantalla 2025-07-11 161107.png" />
        </div>
      </div>
      <div class="item tarjeta">
        <div class="imgCont">
          <img src="assets/img/Captura de pantalla 2025-07-11 161115.png" />
        </div>
      </div>
    </div>-->
    <!--<div class="compCont">
      <div class="campCont1">
        <div class="cardCont">
          <mat-card class="cardElement">
            <mat-card-content>
              <img src="assets/img/Captura de pantalla 2025-07-11 155539.png" alt="ejem1" />
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="compCont">
      <div class="campCont1">
        <div class="cardCont">
          <mat-card class="cardElement">
            <mat-card-content>
              <img src="assets/img/Captura de pantalla 2025-07-11 161107.png" alt="ejem2" />
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="compCont">
      <div class="campCont1">
        <div class="cardCont">
          <mat-card class="cardElement">
            <mat-card-content>
              <img src="assets/img/Captura de pantalla 2025-07-11 161115.png" alt="ejem3" />
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>-->
  </div>
</div>


