<mat-toolbar class="custom-toolbar">
  <!-- Logo -->
  <a class="logo">
    <img src="https://media.istockphoto.com/id/1321617070/es/vector/logotipo-m%C3%A9dico-de-salud.jpg?s=612x612&w=0&k=20&c=BsQIM8iPSDMgR8eQZNOjpd0Q2JuuhyM9dMOC7fFgHC4=" alt="Logo" routerLink="" />
    <span>Mi Universidad</span>
  </a>

  <!-- Menú -->
  <nav class="menu-links">
    <a mat-button routerLink="">Inicio</a>
    <a mat-button routerLink="contacto">Contacto</a>
  </nav>

  <span class="spacer"></span>

  <!-- Botones Login / Registro -->
  <div class="auth-buttons">
    <a class="btn-login" routerLink="login">Login</a>
    <a class="btn-register" routerLink="registro">Registro</a>
  </div>
</mat-toolbar>

