<mat-toolbar class="custom-toolbar">
  <!-- Logo -->
  <a class="logo">
    <img src="https://images.vexels.com/media/users/3/224233/isolated/preview/d5ee0e9c87bb54cf867d7fb89c4570b8-logotipo-de-educacion-en-linea.png" alt="Logo" routerLink="" />
    <span>Mi Universidad</span>
  </a>

  <!-- Menú -->
  <nav class="menu-links">
    <a mat-button routerLink="">Inicio</a>
    <a mat-button routerLink="contacto">Contacto</a>
  </nav>

  <span class="spacer"></span>

  <!-- Botones Login / Registro -->
  <div class="auth-buttons">
    <a class="btn-login" routerLink="login">Login</a>
    <a class="btn-register" routerLink="registro">Registro</a>
  </div>
</mat-toolbar>

